apiVersion: 1

providers:
- name: 'Nats'
  orgId: 1
  type: file
  disableDeletion: false
  editable: true
  updateIntervalSeconds: 3600
  allowUiUpdates: false
  options:
    path: /var/lib/grafana/dashboards